body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Fredoka One";
  font-weight: lighter;
}

#footer {
  text-align: center;
  color: #384e77;
}

#welcome {
  text-align: center;
  text-align-last: center;
  margin-right: 20px;
  padding: 400px 0;
  height: 100%;
  background: #fe5f55;
  color: #fe5f55;
  /* opacity: 0.8; */
  font-family: "Fredoka One", cursive;
  color: white;
  letter-spacing: 5px;
  font-size: 2em;
  text-shadow: 5px 5px #384e77;
  /* position: absolute; */
  top: 0;
  left: 20px;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -webkit-animation: bounce 1s infinite;
}

#header {
  display: flex;
  justify-content: center;
  background: #fe5f55;
  /* opacity: 0.8; */
  font-family: "Fredoka One";
  color: #f8dedc;
  font-size: 1.8rem;
  text-shadow: 5px 5px #384e77;
}

#score {
  display: flex;
  justify-content: center;
  /* opacity: 0.8; */
  font-family: "Fredoka One";
  color: #fe5f55;
  font-size: 1.8rem;
}

#definition-collection {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: #384e77;
}

.lives {
  color: #fe5f55;
  font-family: "Fredoka One";
  font-weight: lighter;
  font-size: 3rem;
  text-align: center;
  display: inline-block;
  margin-left: 6rem;
}

.score {
  color: #fe5f55;
  font-family: "Fredoka One";
  font-weight: lighter;
  font-size: 3rem;
  display: inline-block;
}

.card {
  cursor: pointer;
  text-align: center;
  overflow-y: scroll;
  border: #fe5f55 solid 2px;
  font-family: "Spartan", "sans-serif";
  font-size: 0.85rem;
  border-radius: 25px;
  padding: 1rem;
  width: 18rem;
  height: 22rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 6px 6px #fe5f55;
  background-color: #fdedec;
  color: #384e77;
}
.card:hover {
  background-color: #fe5f55;
  color: white;
}
.card:active {
  background-color: #fe5f55;
  box-shadow: 0 5px #666;
  transform: translateY(15px);
}

button {
  cursor: pointer;
  border-radius: 12px;
  width: 180px;
  height: 70px;
  font-family: "Fredoka One";
  font-size: 1.8rem;
  color: #fe5f55;
  box-shadow: 5px 5px #384e77;
}

button:hover {
  background-color: #ffcecb; /* Green */
}

button.timer {
  background-color: white;
  box-shadow: 0px 0px;
  border-radius: 12px;
}

button.form {
  cursor: pointer;
  border-radius: 12px;
  width: 180px;
  height: 50px;
  font-family: "Fredoka One";
  font-size: 1.8rem;
  color: #fe5f55;
  box-shadow: 5px 5px #384e77;
}

.bounce {
  position: fixed;
  left: 35%;

  height: 50px;
  -webkit-animation: bounce 1.5s infinite;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 55%;
  }
  25% {
    bottom: 57%;
  }
  75% {
    bottom: 57%;
  }
  50% {
    bottom: 55%;
  }
  100% {
    bottom: 55%;
  }
}

.timer {
  color: #fe5f55;
  font-family: "Fredoka One";
  font-weight: lighter;
  font-size: 3rem;
  /* text-align: right; */
  display: inline-block;
  margin-left: 6rem;
}

input {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  font-family: "Spartan";
  font-size: 1.8rem;
  color: #fe5f55;
  box-shadow: #384e77;
}
