body {
  margin: 0;
  height: 100%;
  width: 100%;
  /* background-color: #fe5f55; */
  font-family: "Fredoka One";
  font-weight: lighter;
}

#welcome {
  text-align: center;
  /* height: 100%; */

  background: #fe5f55;
}

#header {
  display: flex;
  justify-content: center;
  background: #fe5f55;
  opacity: 0.8;
  font-family: "Fredoka One";
  color: #f8dedc;

  font-size: 1.8rem;
}

#definition-collection {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lives {
  color: #fe5f55;
  font-family: "Fredoka One";
  font-weight: lighter;
  font-size: 3rem;
  text-align: right;
  margin-right: 6rem;
}

.score {
  color: #fe5f55;
  font-family: "Fredoka One";
  font-weight: lighter;
  font-size: 3rem;
  text-align: center;
  margin-right: 6rem;
}

.card {
  cursor: pointer;
  text-align: center;
  overflow-y: scroll;
  border: #fe5f55 solid 2px;
  font-family: "Spartan", "sans-serif";
  font-size: 0.85rem;
  border-radius: 25px;
  padding: 1rem;
  width: 18rem;
  height: 22rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 6px 6px #fe5f55;
  background-color: #fdedec;
  color: rgb(75, 70, 70);
}
.card:hover {
  background-color: #fe5f55;
  color: white;
}
.card:active {
  background-color: #fe5f55;
  box-shadow: 0 5px #666;
  transform: translateY(15px);
}
